.container {
  min-height: var(--container-height);
  display: flex;
  gap: 30px;
  align-items: start;
  margin: 40px 0;
}
.wrapper {
  flex: 1;
  background-color: var(--wrapper-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list {
  flex: 3;
}
