.container {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
}
.leftWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.number {
  background-color: #faf4f4;
  width: 100px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}
