.container {
  background: var(--wrapper-color);
  width: 450px;
  padding: 40px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-bottom: 20px;
}

.buttonWrapper button {
  background-color: var(--button-color);
  padding: 10px 20px;
  color: var(--buttonText-color);
  border: none;
  cursor: pointer;
}

.confirmForm {
  display: flex;
  gap: 4px;
  width: 100%;
  margin-bottom: 20px;
  align-items: start;
}

.inputWrapper {
  flex: 1;
  width: 100%;
}

.inputWrapper input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
}

.button {
  background: var(--button-color);
  color: var(--buttonText-color);
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.error {
  margin-top: 5px;
  color: var(--error-color);
}

.confirmForm .inputError {
  border: 1px solid var(--error-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form .inputError {
  border: 1px solid var(--error-color);
}
.item {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 599px) {
  .container {
    width: 90%;

    font-size: 14px;
  }
  .confirmForm {
    display: flex;
    flex-direction: column;
  }
  .confirmForm .button {
    width: 100%;
  }

  .confirmForm input {
  }
}

@media (max-width: 375px) {
  .container {
    font-size: 12px;
  }
}
