.container {
  display: flex;
  flex-direction: column;
}

.importButton {
  background: var(--button-color);
  color: var(--buttonText-color);
  padding: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}
