.container {
  width: 100%;
}
.optionWrapper {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888;
  cursor: pointer;
}

.active {
  color: #000000;
}
