.table {
  border-collapse: collapse;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.head {
  background-color: var(--text-color);
  color: black;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
.head th {
  width: 25%;
}

.body tr:nth-child(even) {
  background-color: var(--wrapper-color);
}
.row th,
.row td {
  padding: 8px;
}

.buttonWrapper {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dangerButton {
  padding: 10px 20px;
  color: var(--text-color);
  background-color: var(--error-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonTableWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dangerButtonTable {
  padding: 5px 10px;
  color: var(--text-color);
  background-color: var(--error-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonTable {
  padding: 5px 10px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  color: var(--text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
