.container {
  min-height: var(--voca-container-height);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}
.rowWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rowItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titleWrapper {
  flex: 1;
}

.controlWrapper {
  flex: 1;
  display: flex;
  justify-content: end;
}

@media (max-width: 599px) {
  .rowItem h4 {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .rowItem h4 {
    font-size: 13px;
  }
}
