:root {
  --background-color: #fcfcfc;
  --navbar-color: #ffffff;
  --navbarText-color: #091814;
  --wrapper-color: #ffffff;
  --wrapperText-color: #1479f4;
  --titleText-color: #1479f4;
  /* --vocabNumber-color: #dcedfe; */
  --vocabNumber-color: #ffeaa7;
  --lightButton-color: #e5f1ff;
  --vocabNumberText-color: #05060f;
  --border-color: #656565;
  --input-color: #f0f1f3;
  --selectInput-color: #1479f4;
  --selectInputText-color: #ffffff;
  --optionHover-color: #ffeaa7;
  --optionChosed-color: #ffdc64;
  --userMenuText-color: #526660;
  --inputHover-color: rgb(78, 79, 80);
  --inputText-color: #9e9ea7;
  --inputTextHover-color: #b5b5bd;
  --text-color: #091814;
  --error-color: #c0392b;
  --border-color: #3e4042;
  --word-color: #2fbe2f;
  /* --light: #e5e5e5; */
  --button-color: #0171f9;
  --button-hover-color: #0188ff;
  --button-active-color: #015ac7;
  --buttonText-color: #ffffff;
  --speed: 500ms;
  --container-height: calc(100svh - 56px);

  /* --voca-container-height: calc(100vh - 56px - 89px); */
  /* --voca-container-height: calc(100vh - 56px); */
  --voca-container-height: calc(100dvh - 56px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1056px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}
