:root {
  --background-color: rgb(24, 25, 26);
  --wrapper-color: rgb(36, 37, 38);
  --border-color: #656565;
  --input-color: rgb(58, 59, 60);
  --inputHover-color: rgb(78, 79, 80);
  --inputText-color: #9e9ea7;
  --inputTextHover-color: #b5b5bd;
  --text-color: white;
  --error-color: #c0392b;
  --border-color: #3e4042;
  /* --light: #e5e5e5; */
  --button-color: #1e86c9;
  --button-hover-color: #49a3d6;
  --button-active-color: #155b8f;
  --speed: 500ms;
  --container-height: calc(100vh - 56px);
  --voca-container-height: calc(100vh - 56px - 89px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1024px;
  margin: auto;
  min-height: var(--container-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1056px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

/* @media (max-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 425px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 320px;
  }
} */

/* @media (max-width: 768px) {
  .container {
    width: 768px;
  }
} */

/* @media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 375px;
  }
} */
