:root {
  --background-color: rgb(24, 25, 26);
  --wrapper-color: rgb(36, 37, 38);
  --border-color: #656565;
  --input-color: rgb(58, 59, 60);
  --inputHover-color: rgb(78, 79, 80);
  --inputText-color: #9e9ea7;
  --inputTextHover-color: #b5b5bd;
  --text-color: white;
  --error-color: #c0392b;
  --border-color: #3e4042;
  /* --light: #e5e5e5; */
  --button-color: #1e86c9;
  --button-hover-color: #49a3d6;
  --button-active-color: #155b8f;
  --speed: 500ms;
  --container-height: calc(100svh - 56px);

  /* --voca-container-height: calc(100vh - 56px - 89px); */
  /* --voca-container-height: calc(100vh - 56px); */
  --voca-container-height: calc(100dvh - 56px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}
