.container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: start;
  min-height: var(--container-height);
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty {
  justify-content: center;
}

.selectContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.selectContainer h1 {
  font-size: 39px;
  margin-bottom: 8px;
  font-weight: normal;
  text-transform: uppercase;
}
.selectContainer span {
  display: block;
  font-size: 20px;
  margin-top: 8px;
  text-transform: none;
}
.icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the icon from blocking clicks */
  font-size: 16px; /* Adjust size as needed */
}
.wrapper select {
  width: 100%;
  background: var(--input-color);
  color: var(--text-color);
  padding: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 20px;
  border: none;
}

@media (max-width: 1024px) {
  .selectContainer h1 {
    font-size: 30px;
  }
  .selectContainer span {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .selectContainer h1 {
    font-size: 27px;
  }
  .selectContainer span {
    font-size: 18px;
  }
}

@media (max-width: 599px) {
  .selectContainer h1 {
    font-size: 24px;
  }
  .selectContainer span {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .selectContainer h1 {
    font-size: 20px;
  }
  .selectContainer span {
    font-size: 13.5px;
  }
}
