.container {
  min-height: var(--container-height);

  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 500px;
  background-color: var(--wrapper-color);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.loginBtn {
  border: 1px solid black !important;
  text-transform: none;
  color: black !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 30px 20px;
  }
}
