.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
