.container {
  background-color: var(--wrapper-color);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}

.container:hover {
  border: 1px solid #888;
}

.wrapper {
  text-align: center;
}

.vocabNumber {
  font-size: 13px;
  background: var(--border-color);
  padding: 5px 10px;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* @media (max-width: 1024px) {
  .container {
    font-size: 18px;
  }
} */

@media (max-width: 768px) {
  .container {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  .container {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .container {
    font-size: 12px;
  }
}
