.table {
  border-collapse: collapse;
  border: 1px solid white;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.head {
  background-color: var(--button-color);
  color: var(--buttonText-color);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
  font-size: 16px;
}

.body tr:nth-child(even) {
  background-color: var(--lightButton-color);
}
.row th,
.row td {
  padding: 8px;
}

.endDate {
  font-size: 12px;
}
