.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.form input,
.form select {
  padding: 20px;
  background-color: var(--input-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.form button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--buttonText-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  color: var(--error-color);
}
